# ENV db connection
POSTGRES_HOST=db                  # Host for the PostgreSQL database
POSTGRES_PORT=5432                # Port for the PostgreSQL database
POSTGRES_USER=admin               # Username for the PostgreSQL database
POSTGRES_PASSWORD=password        # Password for the PostgreSQL database
POSTGRES_DB=test_db               # Database name

# ENV for connection pool
DB_POOL_SIZE=10                  # Number of connections in the pool
DB_MAX_OVERFLOW=10               # Maximum number of connections to create beyond the pool size

# ENV for logs
LOG_LEVEL=DEBUG                  # Logging level (DEBUG, INFO, WARNING, ERROR)
LOG_FILE=app.log                 # Log file name
LOG_ENCODING=utf-8               # Encoding for log files

# ENV for API
UVICORN_HOST=0.0.0.0            # Host for Uvicorn server
UVICORN_PORT=8000                # Port for Uvicorn server

#ENV for TRON
TRON_PROVIDER="https://api.trongrid.io"  # URL for Tron provider (replace with your provider URL)
TRON_API_KEY="235aa999-9f4d-9999-87a1-00acbe2aa2aa"       # Your API key for Tron access (replace with your actual API key)